# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs


.idea
/swagger-output.json
/Downloads
/torrent
config.json
/Build
/dist
/public/crawfish-official/asset-manifest.json
/public/crawfish-official/favicon.ico
/public/crawfish-official/index.html
/public/crawfish-official/logo192.png
/public/crawfish-official/logo512.png
/public/crawfish-official/manifest.json
/public/crawfish-official/robots.txt
/public/crawfish-official/static/
